html{
    position: relative;
    width: 100%;
    max-width: 1440px !important;
    height: 6861px;
}
body{
    left: 0px;
    top: 0px;
    background-color:#222021;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Aboreto', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
.vector{
    padding-left: 10%;

}
/* Header Start */
.header__logo{
    position: absolute;
    width: 197px;
    height: 83.8px;
    left: 102px;
    top: 50px;
    background-image: url(/public/img/svg/logo.svg);
}
.header__logo:hover, .header__logo:active, .header__logo:focus{
    opacity: .75;
}
.header{
    position: absolute;
    width: 605px;
    height: 24px;
    left: 1219px;
    top: 60px;
}
.link1:hover, .link:active, .link:focus{
    opacity: .75;
}
.link4:hover, .link4:active, .link4:focus{
    opacity: .75;
}
.link1{
    margin-right: 40px;
    font-family: 'Montserrat'sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #F5F5F5;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}
.link2{
    margin-right: 40px;
    font-family: 'Montserrat'sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #F5F5F5;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}
.link3{
    margin-right: 40px;
    font-family: 'Montserrat'sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #F5F5F5;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.link4{
    font-family: 'Montserrat'sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #F5F5F5;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}
.link1:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: #F5F5F5; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.link1:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: #F5F5F5; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}
.link2:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: #F5F5F5; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.link2:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: #F5F5F5; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}
.link3:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: #F5F5F5; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.link3:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: #F5F5F5; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}
.link4:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: #F5F5F5; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.link4:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: #F5F5F5; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}
     
/* Header End */
/* Wood Start */
.wood__back{
    position: absolute;
    width: 908px;
    height: 1080px;
    left: 0px;
    top: 0px;
    background-image: url(/public/img/pexels-lumn-235309\ 2.png);
    color:rgba(34, 32, 33, 0.49);
    border-radius: 11px 42px 42px 11px;
}
.wood__grow{ 
position: absolute;
width: 1307px;
height: 680px;
left: 595px;
top: 218px;

background: #1E0C06;
border-radius: 43px 0px 0px 43px;
filter: drop-shadow(0px 4px 52px rgba(245, 245, 245, 0.17)); 
}
.solid{
    position: absolute;
width: 622px;
height: 321px;
left: 650px;
top: 200px;

font-family: 'Aboreto', cursive;
font-style: normal;
font-weight: 700;
font-size: 90px;
line-height: 115.4%;


text-transform: uppercase;

color: #F5F5F5;
}
.solid__under{
    position: absolute;
    width: 333px;
    height: 78px;
    left: 650px;
    top: 570px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;

    color: #FFDBBB;
}
.solid__button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 11px 70px;
    gap: 10px;

    position: absolute;
    width: 225px;
    height: 58px;
    left: 650px;
    top: 750px;

    background: #728BAD;
    border-radius: 42px;
    border: #728BAD;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #F5F5F5;
}
.solid__button:active, .solid__button:hover, .solid__button:focus{
    opacity: .75;
}
.line1{
    position: absolute;
    width: 511px;
    height: 0px;
    left: 950px;
    top: 530px;

    border: 1px solid #F5F5F5;
    transform: rotate(90deg);

}
.wood1{
    position: absolute;
    width: 205px;
    height: 205px;
    left: 1240px;
    top: 500px;
    filter: drop-shadow(0px 4px 8px rgba(245, 245, 245, 0.17)); 

}
.wood2{
    position: absolute;
    width: 205px;
    height: 205px;
    left: 1570px;
    top: 270px;
    filter: drop-shadow(0px 4px 8px rgba(245, 245, 245, 0.17)); 
}
.wood3{
    position: absolute;
    width: 205px;
    height: 205px;
    left: 1570px;
    top: 600px;
    filter: drop-shadow(0px 4px 8px rgba(245, 245, 245, 0.17)); 
}
/* Wood End */
/* Materials Start */
.me__work{
    position: absolute;
    width: 746px;
    height: 230px;
    left: 243px;
    top: 1246px;

    font-family: 'KyivType Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 132.9%;
    filter: drop-shadow(0px 4px 8px rgba(245, 245, 245, 0.17)); 
}
.mat1{
    position: absolute;
    width: 205px;
    height: 205px;
    left: 180px;
    top: 1626px;
    filter: drop-shadow(0px 4px 8px rgba(245, 245, 245, 0.17)); 
}
.mat2{
    position: absolute;
    width: 205px;
    height: 205px;
    left: 830px;
    top: 1626px;
    filter: drop-shadow(0px 4px 8px rgba(245, 245, 245, 0.17)); 
}
.mat3{
    position: absolute;
    width: 205px;
    height: 205px;
    left: 1450px;
    top: 1626px;
    filter: drop-shadow(0px 4px 8px rgba(245, 245, 245, 0.17)); 
}
.oak__title{
    position: absolute;
    width: 277px;
    height: 560px;
    left: 240px;
    top: 1830px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}
.oak{
    list-style-type:none;
    position: absolute;
    width: 277px;
    height: 560px;
    left: 156px;
    top: 1900px;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;  
}
.Y1{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 156px;
    top: 1930px;
}
.Y2{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 156px;
    top: 1995px;
}
.Y3{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 156px;
    top: 2080px;
}
.X{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 156px;
    top: 2140px;
}
.buk__title{
    position: absolute;
    width: 277px;
    height: 560px;
    left: 900px;
    top: 1830px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}
.buk{
    list-style-type:none;
    position: absolute;
    width: 277px;
    height: 560px;
    left: 820px;
    top: 1900px;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px; 
}
.Y1_buk{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 825px;
    top: 1930px;
}
.X_buk{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 825px;
    top: 1990px;
}
.ash__title{
    position: absolute;
    width: 58px;
    height: 36px;
    left: 1520px;
    top: 1830px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}
.ash{
    list-style-type:none;
    position: absolute;
    width: 277px;
    height: 560px;
    left: 1440px;
    top: 1900px;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px; 
}
.Y1_ash{
    position: absolute;
    left: 1440px;
    top: 1930px;
}
.X_ash{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 1440px;
    top: 1990px;
}
/* Mat Opacity */
.mat1:hover, .mat1:active, .mat1:focus{
    opacity: .95;
}
.mat2:hover, .mat2:active, .mat2:focus{
    opacity: .95;
}
.mat3:hover, .mat3:active, .mat3:focus{
    opacity: .95;
}
/* Materials End */
/* Solid Animation Start */
.wood1-anim {
    animation: wipe-enter 2s 1
  }
  @keyframes wipe-enter {
    0% {
      transform: scale(0, .050)
    }
    50% {
      transform: scale(1, .050)
    }
  }
  .wood2-anim {
    animation: wipe-enter 2s 1
  }
  @keyframes wipe-enter {
    0% {
      transform: scale(0, .025)
    }
    50% {
      transform: scale(1, .025)
    }
  }
  .wood3-anim {
    animation: wipe-enter 2s 1
  }
  @keyframes wipe-enter {
    0% {
      transform: scale(0, .025)
    }
    50% {
      transform: scale(1, .025)
    }
  }

/* Text */
@keyframes solid-anim {
    from { left: 0; }
    to { left: 650px; }
}
.solid{
    animation: solid-anim 2s 1;

}

@keyframes solid__under-anim{
    from {left:0;}
    to {left: 650px;}
}
.solid__under-anim{
    animation: solid__under-anim 2s 1;
}
/* Button */
@keyframes solid__button-anim{
    from{top: 1200px;}
    to {top: 750px;}
}
.solid__button-anim{
    animation: solid__button-anim 2s 1;
}
/* Wood Grow */
@keyframes wood__grow-anim{
    from{left:-0;}
    to{left: 595px;}
}
.wood__grow-anim{
    animation: wood__grow-anim 1s 1;
}
/* Line */
@keyframes line1-anim{
    from{left: -100px;}
    to{left: 950px;}
}
.line1-anim{
    animation: line1-anim 1s 1;
}
  /* Solid Animation End */
  /* Work Start */
.our__work{
  position: absolute;
width: 532px;
height: 120px;
left: 238px;
top: 2450px;

font-family: 'KyivType Sans';
font-style: normal;
font-weight: 500;
font-size: 90px;
line-height: 132.9%;
/* identical to box height, or 120px */

text-transform: uppercase;
filter: drop-shadow(0px 4px 8px rgba(245, 245, 245, 0.17)); 
color: #F5F5F5;
}
.work__img{
    position: absolute;
    width: 1130px;
    height: 754px;
    left: 390px;
    top: 2760px;
    filter: drop-shadow(0px 4px 8px rgba(245, 245, 245, 0.17)); 
}
.arrow-right{
    position: absolute;
    width: 52.08px;
    height: 50px;
    left: 1594px;
    top: 3112px;
    border-radius: 50%;
}
.arrow-left{
    position: absolute;
    width: 52.08px;
    height: 50px;
    left: 270px;
    top: 3112px;
    border-radius: 50%;
}
.arrow-left:focus, .arrow-left:active, .arrow-left:hover{
    opacity: .80;
    background-color: #F5F5F5;
}
.arrow-right:focus, .arrow-right:active, .arrow-right:hover{
    opacity: .80;
    background-color: #F5F5F5;
}
.el1{
    position: absolute;
    width: 26px;
    height: 26px;
    left: 830px;
    top: 3540px;
}
.el2{
    position: absolute;
    width: 26px;
    height: 26px;
    left: 930px;
    top: 3540px;
}
.el3{
    position: absolute;
    width: 26px;
    height: 26px;
    left: 1030px;
    top: 3540px;
}



     